In [1]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in c:\users\sula\appdata\local\programs\python\python311\lib\site-packages (1.24.3)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\sula\appdata\local\programs\python\python311\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sula\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sula\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sula\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\sula\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\sula\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import numpy as np
import pandas as pd

In [3]:
url = "https://raw.githubusercontent.com/ThaminduSulakshana/Vehicle-Value-Predictor/main/model%20building/vehicle%20values.csv"
data = pd.read_csv(url, encoding='latin-1')
data.head()

,Company,Year,Condition,Fuel,Performance type,Drive Type,Country,Body Style,Price
0,Audi,2012,Registered,Petrol,Plug-in Hybrid (PHEV),All-Wheel Drive (AWD),European,Crossover,"$107,386.48"
1,Hummer,2018,Brand New,Diesel,Hybrid,All-Wheel Drive (AWD),Asian,SUV,"$141,834.25"
2,Pagani,2013,Registered,Electric,Super,Front-Wheel Drive (FWD),Asian,Pickup Truck,"$89,763.13"
3,Toyota,2020,Registered,Hybrid,Sports,Four-Wheel Drive (4WD),British,Sedan,"$133,544.29"
4,Chevrolet,2020,Unregistered,Gas,Hyper,Rear-Wheel Drive (RWD),Asian,Estate/Wagon,"$4,748.35"

In [4]:
data['Company'].value_counts()

Company
Fiat             36
Cadilla          32
Subaru           31
Mercedes-Benz    28
Nissan           28
Mazda            28
Suzuki           27
Chevrolet        27
Pagani           26
Jaguar           26
Dodge            26
Aston Martin     26
Hummer           25
Honda            25
Peugeot          25
Tesla            25
Ram              25
Volvo            25
Land Rover       24
Toyota           24
Mitsubishi       23
Alfa Romeo       23
Ferrari          22
McLaren          22
BMW              22
Lamborghini      22
Jeep             22
Lincoln          22
Bugatti          21
Porsche          21
Lotus            21
Audi             21
Renault          21
Hyundai          21
Ford             21
Lexus            20
Koenigsegg       19
Rolls-Royce      19
Bentley          19
Kia              17
Maserati         15
Mini             14
Volkswagen       13
Name: count, dtype: int64

In [5]:
data.shape

(1000, 9)

In [6]:
data.isnull().sum()

Company             0
Year                0
Condition           0
Fuel                0
Performance type    0
Drive Type          0
Country             0
Body Style          0
Price               0
dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1000 non-null   object
 1   Year              1000 non-null   int64
 2   Condition         1000 non-null   object
 3   Fuel              1000 non-null   object
 4   Performance type  1000 non-null   object
 5   Drive Type        1000 non-null   object
 6   Country           1000 non-null   object
 7   Body Style        1000 non-null   object
 8   Price             1000 non-null   object
dtypes: int64(1), object(8)
memory usage: 70.4+ KB

In [8]:
data.head(2)

,Company,Year,Condition,Fuel,Performance type,Drive Type,Country,Body Style,Price
0,Audi,2012,Registered,Petrol,Plug-in Hybrid (PHEV),All-Wheel Drive (AWD),European,Crossover,"$107,386.48"
1,Hummer,2018,Brand New,Diesel,Hybrid,All-Wheel Drive (AWD),Asian,SUV,"$141,834.25"

In [9]:
data['Price'] = pd.to_numeric(data['Price'].str.replace('[\$,]', '', regex=True))

In [10]:
data['Company'].value_counts()

Company
Fiat             36
Cadilla          32
Subaru           31
Mercedes-Benz    28
Nissan           28
Mazda            28
Suzuki           27
Chevrolet        27
Pagani           26
Jaguar           26
Dodge            26
Aston Martin     26
Hummer           25
Honda            25
Peugeot          25
Tesla            25
Ram              25
Volvo            25
Land Rover       24
Toyota           24
Mitsubishi       23
Alfa Romeo       23
Ferrari          22
McLaren          22
BMW              22
Lamborghini      22
Jeep             22
Lincoln          22
Bugatti          21
Porsche          21
Lotus            21
Audi             21
Renault          21
Hyundai          21
Ford             21
Lexus            20
Koenigsegg       19
Rolls-Royce      19
Bentley          19
Kia              17
Maserati         15
Mini             14
Volkswagen       13
Name: count, dtype: int64

In [11]:
def add_company(inpt):
	if inpt== 'Mitsubishi' or inpt == 'Alfa Romeo' or inpt == 'Ferrari' or inpt == 'McLaren' or inpt == 'BMW' or inpt == 'Lamborghini' or inpt == 'Jeep' or inpt == 'Lincoln' or inpt == 'Bugatti' or inpt == 'Porsche' or inpt == 'Lotus' or inpt == 'Audi' or inpt == 'Renault' or inpt == 'Hyundai' or inpt == 'Ford' or inpt == 'Lexus' or inpt == 'Koenigsegg' or inpt == 'Rolls-Royce' or inpt == 'Bentley' or inpt == 'Kia' or inpt == '' or inpt == 'Maserati' or inpt == '' or inpt == 'Mini' or inpt == 'Volkswagen':
	 return 'Other'
	else:
	 return inpt
data['Company'] = data['Company'].apply(add_company)

In [12]:
data['Company'].value_counts()

Company
Other            461
Fiat              36
Cadilla           32
Subaru            31
Mazda             28
Mercedes-Benz     28
Nissan            28
Chevrolet         27
Suzuki            27
Dodge             26
Jaguar            26
Pagani            26
Aston Martin      26
Ram               25
Tesla             25
Peugeot           25
Hummer            25
Honda             25
Volvo             25
Land Rover        24
Toyota            24
Name: count, dtype: int64

In [13]:
data['Condition'].value_counts()

Condition
Brand New       264
Registered      254
Unregistered    242
recondition     240
Name: count, dtype: int64

In [14]:
data['Brand New'] = data['Condition'].apply(lambda x: 1 if x == 'Brand New' else 0)
data['recondition'] = data['Condition'].apply(lambda x: 1 if x == 'Registered' else 0)

In [15]:
data['Petrol'] = data['Fuel'].apply(lambda x: 1 if x == 'Petrol' else 0)
data['Diesel'] = data['Fuel'].apply(lambda x: 1 if x == 'Diesel' else 0)
data['Electric'] = data['Fuel'].apply(lambda x: 1 if x == 'Electric' else 0)
data['Hybrid'] = data['Fuel'].apply(lambda x: 1 if x == 'Hybrid' else 0)
data['Gas'] = data['Fuel'].apply(lambda x: 1 if x == 'Gas' else 0)

In [16]:
data['Super'] = data['Performance type'].apply(lambda x: 1 if x == 'Super' else 0)
data['Sports'] = data['Performance type'].apply(lambda x: 1 if x == 'Sports' else 0)
data['Hyper'] = data['Performance type'].apply(lambda x: 1 if x == 'Hyper' else 0)
data['Plug-in Hybrid (PHEV)'] = data['Performance type'].apply(lambda x: 1 if x == 'Plug-in Hybrid (PHEV)' else 0)
data['Hybrid'] = data['Performance type'].apply(lambda x: 1 if x == 'Hybrid' else 0)

In [17]:
data['Fuel'].value_counts()

Fuel
Petrol      200
Diesel      200
Electric    200
Hybrid      200
Gas         200
Name: count, dtype: int64

In [18]:
def set_processor(name):
    if name == 'All-Wheel Drive (AWD)' or name == 'Four-Wheel Drive (4WD)':
        return name
    else:
        if name.split()[0] == 'Front-Wheel Drive (FWD)':
            return 'Front-Wheel Drive (FWD)'
        else:
            return 'Rear-Wheel Drive (RWD)'

In [19]:
data['Body Style'].value_counts()

Body Style
Coupe-SUV       113
SUV             112
Convertible     109
Crossover       108
Estate/Wagon    103
Hatchback       100
Pickup Truck     94
Roadster         90
Minivan          86
Sedan            85
Name: count, dtype: int64

In [20]:
data['Coupe-SUV'] = data['Body Style'].apply(lambda x: 1 if x == 'Coupe-SUV' else 0)
data['SUV'] = data['Body Style'].apply(lambda x: 1 if x == 'SUV' else 0)
data['Convertible'] = data['Body Style'].apply(lambda x: 1 if x == 'Convertible' else 0)
data['Crossover'] = data['Body Style'].apply(lambda x: 1 if x == 'Crossover' else 0)
data['Estate/Wagon'] = data['Body Style'].apply(lambda x: 1 if x == 'Estate/Wagon' else 0)
data['Hatchback'] = data['Body Style'].apply(lambda x: 1 if x == 'Hatchback' else 0)
data['Pickup Truck'] = data['Body Style'].apply(lambda x: 1 if x == 'Pickup Truck' else 0)
data['Roadster'] = data['Body Style'].apply(lambda x: 1 if x == 'Roadster' else 0)
data['Minivan'] = data['Body Style'].apply(lambda x: 1 if x == 'Minivan' else 0)
data['Sedan'] = data['Body Style'].apply(lambda x: 1 if x == 'Sedan' else 0)

In [21]:
data['Body Style'].value_counts()

Body Style
Coupe-SUV       113
SUV             112
Convertible     109
Crossover       108
Estate/Wagon    103
Hatchback       100
Pickup Truck     94
Roadster         90
Minivan          86
Sedan            85
Name: count, dtype: int64

In [22]:
columns_to_drop = ['Condition', 'Fuel', 'Performance type', 'Body Style']
data = data.drop(columns=columns_to_drop)

In [23]:
data.head()

,Company,Year,Drive Type,Country,Price,Brand New,recondition,Petrol,Diesel,Electric,...,Coupe-SUV,SUV,Convertible,Crossover,Estate/Wagon,Hatchback,Pickup Truck,Roadster,Minivan,Sedan
0,Other,2012,All-Wheel Drive (AWD),European,107386.48,0,1,1,0,0,...,0,0,0,1,0,0,0,0,0,0
1,Hummer,2018,All-Wheel Drive (AWD),Asian,141834.25,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
2,Pagani,2013,Front-Wheel Drive (FWD),Asian,89763.13,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,Toyota,2020,Four-Wheel Drive (4WD),British,133544.29,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,Chevrolet,2020,Rear-Wheel Drive (RWD),Asian,4748.35,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [24]:
data = pd.get_dummies(data)

In [25]:
data.head()

,Year,Price,Brand New,recondition,Petrol,Diesel,Electric,Hybrid,Gas,Super,...,Company_Toyota,Company_Volvo,Drive Type_All-Wheel Drive (AWD),Drive Type_Four-Wheel Drive (4WD),Drive Type_Front-Wheel Drive (FWD),Drive Type_Rear-Wheel Drive (RWD),Country_American,Country_Asian,Country_British,Country_European
0,2012,107386.48,0,1,1,0,0,0,0,0,...,False,False,True,False,False,False,False,False,False,True
1,2018,141834.25,1,0,0,1,0,1,0,0,...,False,False,True,False,False,False,False,True,False,False
2,2013,89763.13,0,1,0,0,1,0,0,1,...,False,False,False,False,True,False,False,True,False,False
3,2020,133544.29,0,1,0,0,0,0,0,0,...,True,False,False,True,False,False,False,False,True,False
4,2020,4748.35,0,0,0,0,0,0,1,0,...,False,False,False,False,False,True,False,True,False,False

In [26]:
data.shape

(1000, 52)

In [27]:
x = data.drop('Price', axis=1)
y = data['Price']

In [28]:
!pip install sklearn

Requirement already satisfied: sklearn in c:\users\sula\appdata\local\programs\python\python311\lib\site-packages (0.0.post7)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [29]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [30]:
x_train.shape, x_test.shape

((750, 51), (250, 51))

In [31]:
def model_acc(model):
    model.fit(x_train, y_train)
    acc = model.score(x_test, y_test)
    print(str(model)+ ' --> ' +str(acc))

In [32]:
### building model tunning

In [33]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
model_acc(lr)

from sklearn.linear_model import Lasso
lasso = Lasso()
model_acc(lasso)

from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()
model_acc(dt)

from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
model_acc(rf)

LinearRegression() --> -0.017501553200529596
Lasso() --> -0.017325517144139546
DecisionTreeRegressor() --> -1.2656589523535446
RandomForestRegressor() --> -0.06593682828631775

In [34]:
### Hyperparameter tunning

In [35]:
from sklearn.model_selection import GridSearchCV

parameters = {'n_estimators':[10, 50, 100],
              'criterion':['squared_error','absolute_error','poisson']}

grid_obj = GridSearchCV(estimator=rf, param_grid=parameters)

grid_fit = grid_obj.fit(x_train, y_train)

best_model = grid_fit.best_estimator_

best_model.score(x_test, y_test)

-0.06326973627077415

In [36]:
x_test.columns

Index(['Year', 'Brand New', 'recondition', 'Petrol', 'Diesel', 'Electric',
       'Hybrid', 'Gas', 'Super', 'Sports', 'Hyper', 'Plug-in Hybrid (PHEV)',
       'Coupe-SUV', 'SUV', 'Convertible', 'Crossover', 'Estate/Wagon',
       'Hatchback', 'Pickup Truck', 'Roadster', 'Minivan', 'Sedan',
       'Company_Aston Martin', 'Company_Cadilla', 'Company_Chevrolet',
       'Company_Dodge', 'Company_Fiat', 'Company_Honda', 'Company_Hummer',
       'Company_Jaguar', 'Company_Land Rover', 'Company_Mazda',
       'Company_Mercedes-Benz', 'Company_Nissan', 'Company_Other',
       'Company_Pagani', 'Company_Peugeot', 'Company_Ram', 'Company_Subaru',
       'Company_Suzuki', 'Company_Tesla', 'Company_Toyota', 'Company_Volvo',
       'Drive Type_All-Wheel Drive (AWD)', 'Drive Type_Four-Wheel Drive (4WD)',
       'Drive Type_Front-Wheel Drive (FWD)',
       'Drive Type_Rear-Wheel Drive (RWD)', 'Country_American',
       'Country_Asian', 'Country_British', 'Country_European'],
      dtype='object')

In [37]:
import pickle
with open('predictor.pickle', 'wb') as file:
    pickle.dump(best_model, file)

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 52 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Year                                1000 non-null   int64
 1   Price                               1000 non-null   float64
 2   Brand New                           1000 non-null   int64
 3   recondition                         1000 non-null   int64
 4   Petrol                              1000 non-null   int64
 5   Diesel                              1000 non-null   int64
 6   Electric                            1000 non-null   int64
 7   Hybrid                              1000 non-null   int64
 8   Gas                                 1000 non-null   int64
 9   Super                               1000 non-null   int64
 10  Sports                              1000 non-null   int64
 11  Hyper                               1000 non-null   int64
 12  Plug-in Hybrid (PHEV)               1000 non-null   int64
 13  Coupe-SUV                           1000 non-null   int64
 14  SUV                                 1000 non-null   int64
 15  Convertible                         1000 non-null   int64
 16  Crossover                           1000 non-null   int64
 17  Estate/Wagon                        1000 non-null   int64
 18  Hatchback                           1000 non-null   int64
 19  Pickup Truck                        1000 non-null   int64
 20  Roadster                            1000 non-null   int64
 21  Minivan                             1000 non-null   int64
 22  Sedan                               1000 non-null   int64
 23  Company_Aston Martin                1000 non-null   bool
 24  Company_Cadilla                     1000 non-null   bool
 25  Company_Chevrolet                   1000 non-null   bool
 26  Company_Dodge                       1000 non-null   bool
 27  Company_Fiat                        1000 non-null   bool
 28  Company_Honda                       1000 non-null   bool
 29  Company_Hummer                      1000 non-null   bool
 30  Company_Jaguar                      1000 non-null   bool
 31  Company_Land Rover                  1000 non-null   bool
 32  Company_Mazda                       1000 non-null   bool
 33  Company_Mercedes-Benz               1000 non-null   bool
 34  Company_Nissan                      1000 non-null   bool
 35  Company_Other                       1000 non-null   bool
 36  Company_Pagani                      1000 non-null   bool
 37  Company_Peugeot                     1000 non-null   bool
 38  Company_Ram                         1000 non-null   bool
 39  Company_Subaru                      1000 non-null   bool
 40  Company_Suzuki                      1000 non-null   bool
 41  Company_Tesla                       1000 non-null   bool
 42  Company_Toyota                      1000 non-null   bool
 43  Company_Volvo                       1000 non-null   bool
 44  Drive Type_All-Wheel Drive (AWD)    1000 non-null   bool
 45  Drive Type_Four-Wheel Drive (4WD)   1000 non-null   bool
 46  Drive Type_Front-Wheel Drive (FWD)  1000 non-null   bool
 47  Drive Type_Rear-Wheel Drive (RWD)   1000 non-null   bool
 48  Country_American                    1000 non-null   bool
 49  Country_Asian                       1000 non-null   bool
 50  Country_British                     1000 non-null   bool
 51  Country_European                    1000 non-null   bool
dtypes: bool(29), float64(1), int64(22)
memory usage: 208.1 KB

In [40]:
data['Year'].value_counts()

Year
2013    123
2021    120
2016    117
2018    115
2012    114
2019    111
2020    109
2015    103
2014     88
Name: count, dtype: int64

In [41]:
data.rename(columns={'Year': 'medication'}, inplace=True)  # Rename the 'year' column to 'myear'
value_counts_result = data['medication'].value_counts()

In [42]:
data['medication'].value_counts()

medication
2013    123
2021    120
2016    117
2018    115
2012    114
2019    111
2020    109
2015    103
2014     88
Name: count, dtype: int64

In [53]:
best_model.predict([[2012,0 , 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

C:\Users\sula\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([83616.7421])